/* &display=swap */
@import "null.css";
@import "fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap");

body {
	font-family: Montserrat, sans-serif;
	font-size: 20px;
}

h2 {
	font-size: 48px;
	font-weight: 700;
}

.center {
	font-family: Lato;
	text-align: center;
	letter-spacing: 20px;
}
/* ================================================================= */

.type-font {
	word-spacing: 10px;
}

.type-font h2 + p {
	text-indent: 40px;
}

.type-font h2 ~ p {
	color: rgb(48, 205, 216);
}

.serif {
	font-family: serif;
}
.sans-serif {
	font-family: sans-serif;
}
.cursive {
	font-family: cursive;
}
.fantasy {
	font-family: fantasy;
}
.monospace {
	font-family: monospace;
}
/* ================================================================= */
.size {
	font-family: "Zen Kurenaido", sans-serif;
	word-spacing: 20px;
}

.size h2 + p {
	text-indent: 40px;
}

.fz-10 {
	font-size: 10px;
}
.fz-20 {
	font-size: 20px;
}
.fz-30 {
	font-size: 30px;
}
.fz-40 {
	font-size: 40px;
}
/* ================================================================= */
.style {
	font-family: "Lobster", cursive;
	word-spacing: 5px;
}

.style h2 + p {
	text-indent: 40px;
}

.normal {
	font-style: normal;
}
.italic {
	font-style: italic;
}
.oblique {
	font-style: oblique;
}
.inherit {
	font-style: inherit;
}

/* ================================================================= */
.weight {
	font-family: "Yanone Kaffeesatz", sans-serif;
}

.weight h2 + p {
	text-indent: 40px;
}

.fw-100 {
	font-weight: 100;
}
.fw-200 {
	font-weight: 200;
}
.fw-300 {
	font-weight: 300;
}
.fw-400 {
	font-weight: 400;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-700 {
	font-weight: 700;
}
.fw-800 {
	font-weight: 800;
}
.fw-900 {
	font-weight: 900;
}

/* ================================================================= */
.align {
}
.align .center {
	text-align: center;
	letter-spacing: normal;
}
.justify {
	text-align: justify;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}

/* ================================================================= */

.decoration {
	text-decoration: none;
}

.through span {
	text-decoration: line-through;
}
.overline span {
	text-decoration: overline;
}
.underline span {
	text-decoration: underline;
}
.none {
	text-decoration: none;
}

/* ================================================================= */

.shadow {
}
.text-sh {
	text-shadow: 0px 0px 5px #000, -10px -10px 5px rgb(202, 63, 63), 10px 10px 5px rgb(230, 233, 19), 0px 10px 5px rgb(19, 233, 30);
}

/* ================================================================= */

.transform {
}
.capitalize {
	text-transform: capitalize;
}
.lowercase {
	text-transform: lowercase;
}
.uppercase {
	text-transform: uppercase;
}

/* ================================================================= */

.height {
}
.normal {
}
.number {
	line-height: 3;
}
.value {
	line-height: 2.2em;
}
.percent {
	line-height: 200%;
}
